/*
 * card.css
 * @author Seryeis Lucas, Vabre Lucas
 */

/* ### Variables principales utilisés ### */
:root {
	--border-card-radius: 5px;
}

/* ### Collection de Cartes (en ligne) ### */
.card-collection {
	text-align: center;
}

/* ### Card ### */
.card {
	margin: 15px;
	border-collapse: collapse;
	display: inline-block;
}

.card-picture img {
	border-radius: var(--border-card-radius);
	overflow: hidden;
	box-shadow: 0 0 5px black;
	transition: 0.25s;	/* pour faire transition fluide */
}

.card-picture img:hover { /* Modification de l'image au survol */
	transform: scale(1.04);		/* augmente la taille de l'image */
	box-shadow: 0 0 10px var(--overlay-color);
    opacity: 65%;	/* change l'opacité de l'image */
    transition: 0.25s;	/* pour faire transition fluide */
}

.vertical img {/* image verticale */
	height:325px;	/* longueur */
	width:240px;	/* largeur */
}


.horizontal img {/* image horizontale */
	width:300px;	/* largeur */
	height:169px;	/* longueur */
	transition: 0.5s;	/* pour faire transition fluide et pas brute */
}

/* ### Cellule "Texte" du tableau ### */
.card-info td {
	background-color: var(--overlay-color);
	border-radius: 15px;
	padding:10px;
}

.card-info a {/* lien sur le nom du jeu */
	text-decoration: none;
}

.card-title {/* nom du jeu */
	text-align: left;
	margin: 0;
	color: var(--text-color);
}

.card-editor {/* editeur du jeu */
	text-align: left;
	margin: 0 0 5px 0;
	color: grey;
}

.tag {/* réduction */
	background-color: var(--main-color-blue); /* Couleur définie dans style.css */
	border-radius: var(--border-card-radius);
	padding: 5px;
	font-size: 16px;
}

.card-price {/* prix des jeux */
	margin: 5px;
	font-size: 20px;
	text-align: right;
}

.card-info strike {/* prix barré si réduction */
	color: grey;
}