/*
 * clicker.css
 * @author Vabre Lucas
 */

#cookie {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
}

#clicker {
	background-image: url(../img/icons/cookie.webp);
	width: 150px;
	height: 150px;
	transition: 0.025s;
}

#clicker:active{
	transform: scale(1.5);
	transform: rotate();
	transition: 0.025s all;
}

#score, #persecond {
	text-align: center;
}

#upgrades {
	margin: 10px;
	border-collapse: collapse;
}

#upgrades tr td {
	border: 1px solid black;
}

#upgrades tr:nth-child(2n+1) {
	background-color: var(--overlay-color);
}