/*
 * abonnement.css
 * @author Nogaret Tristan
 */
.div_a { /* Modifie les caractéristiques de la premières div*/
	margin-top: 50px;
}

.offre { /* Modifie les caractéristiques du cadre princpal, celui du haut */
	margin: auto;
	vertical-align: middle;
	text-align: center;
	width: 70%;
}

.avantages { /* Modifie les caractéristiques des 3 cadres du bas */
	margin: auto;
	vertical-align: middle;
	text-align: center;
	border-collapse: separate;
	border-spacing: 25px;
	width: 73%;
}

.cout { /* Modifie les caractéristiques du cadre princpal, celui du haut */
	margin: auto;
	vertical-align: middle;
	text-align: center;
	width: 40%;
	margin-bottom: 25px;
}

caption { /* Modifie les caractéristiques de "Les avantages :" */
	margin: 25px 0px -20px 25px;
	text-align: left;
}

button { /* Modifie les caractéristiques du bouton */
	display: block;
	margin-left: calc(85% - 120px);
	margin-bottom: 50px;
	padding: 20px 30px 20px 30px;

	border-radius: 5px;
	border-style: none;
	border-width: 0px;
	box-shadow: 0 0 10px #e74c3c; 

	background-color: #c0392b;
	color: var(--text-color);
	font-size: 1.3em;


	transition: all 0.2s;
}

button:hover { /* Rends les cases un peu opaques lorsqu'on passe la souris dessus */
	box-shadow: 0 0;
	background: linear-gradient(45deg, #e74c3c, #c0392b); 
	transition: all 0.2s;

	cursor: pointer;
}

td { /* Modifie les caractéristiques de toutes les cases de tout les tableaux */
	border-radius: 5px;
}


.titre { /* Modifie les caractéristiques du cadre du haut */
	background: linear-gradient(#9b59b6, #8e44ad);
	height: 400px;
}

.td1 { /* Modifie les caractéristiques du cadre de droite */
	background: linear-gradient(45deg, #e74c3c, #c0392b);
}

.td2 { /* Modifie les caractéristiques du cadre du milieu */
	background: linear-gradient(45deg, #2ecc71, #27ae60);
}

.td3 { /* Modifie les caractéristiques du cadre de gauche */
	background: linear-gradient(45deg, #3498db, #2980b9);
}

.prix {
	background: linear-gradient(#9b59b6 , #8e44ad);
}