/*
 * clicker.css
 * @author Vabre Lucas
 */

#cookie {	/* Image du cookie */
	position: absolute;					/* Objet qui se fie uniquement a la taille de la fenêtre */
	top: 50%;							/* Centre verticalement */
	left: 50%;							/* Centre horizontalement */
	transform: translate(-50%, -50%);	/* De 50% de lui même pour ce centrer parfaitement */
}

#clicker {
	background-image: url(../img/icons/cookie.webp);
	width: 150px;
	height: 150px;
	transition: 0.025s;
}

#clicker:active{
	transform: scale(1.5);
	transform: rotate();
	transition: 0.025s all;
}

#score, #persecond {
	text-align: center;
}

#upgrades {
	margin: 10px;
	border-collapse: collapse;
}

#upgrades tr td {
	border: 1px solid black;
}

#upgrades tr:nth-child(2n+1) {
	background-color: var(--overlay-color);
}