/*
 * contact.css
 * @author Lilian Strub
 */

form {
	border: 5px solid;
	font-family: "Helvetica";
	margin: 50px auto;
	width: 500px;
	padding: 0px 15px 15px 15px;
	background-color: gray;
}

h1 {
	text-align: center;	
}

input {
	border: 2px solid;
	width: 450px;
	height: 40px;
}
