/*
 * error.css
 * @author Nogaret Tristan
 */
a {  /* Annule l'effet fait par la page de style principale */
	text-decoration: underline;
	color: blue;
}

/* Ajustement du texte sur la page */

.titre {
	text-align: center;
	font-size: 5em;
}

.sous-titre {
	text-align: center;
}

p {
	text-align: center;
}