/*
 * maincolor.css
 * Non utilisé pour le moment
 *
 * 
 * @author Vabre Lucas
 */

/* ### Selection de couleur principale ### */

/* Non implémenté pour le moment

	Liste des couleurs selectionnables:
		bleu   : #3498db
		vert   : #2ecc71
		violet : #9b59b6
		rouge  : #e74c3c
*/

.main-blue {
	--main-color: #3498db;
	transition: 0.2s;
}

.main-green {
	--main-color: #2ecc71;
	transition: 0.2s;
}

.main-purple {
	--main-color: #9b59b6;
	transition: 0.2s;
}

.main-red {
	--main-color: #e74c3c;
	transition: 0.2s;
}

/* Affichage de cette couleur  */

.active {/* Element de navigation sélectionné */
	color: var(--main-color);
}

.color-picker {
	display: none;
	position: absolute;
	margin: 0;
	border: solid var(--background-color) 3px;
	background-color: var(--overlay-color);
}

.color-picker > p {
	margin: 5px 0 0 0;
}

.li-maincolor:hover > .color-picker {
	display: block;
}

.color-picker li > div {
	width: 50px;
	height: 30px;
	border-radius: 5px;
}

.color-picker li div:hover {
	cursor: pointer;
}

/* Bouttons de couleurs */
#color-blue {background-color: #3498db;}
#color-green {background-color: #2ecc71;}
#color-purple {background-color: #9b59b6;}
#color-red {background-color: #e74c3c;}