/*
 * style.css
 * @author Vabre Lucas, Strub Lilian
 */

:root {
	--border-radius-5 : 5px;
	--border-radius-15 : 15px;
}

/* ### Entête de la page ### */
header {
	text-align: center;	/* Centre le texte (le logo) */
}

header img { /* image de l'entête (logo) */
	margin: 25px 0 25px 0;	/* met une marge en haut et en bas de 25px */
}

/* ### Corps de la page ### */
body { /* Corps */
	font-family: Cabin, Arial, Consolas;		/* Définis les polices d'écritures à utiliser dans le site */
	color: var(--text-color); 					/* Défini la couleur générale du texte */
	background-color: var(--background-color);	/* Défini la couleur d'arrière plan du site */

	padding: 0;
	margin: 0;
	width: 100%;	/* Fait prendre la taille du site, l'intégralité de l'écran */
}

.container { /* Container de la page (centrage) */
	margin-left: 10%;
	margin-right:10%;
}

h3 a { /* Met les titres(3) et les lien */
	color : var(--main-color);	/* Couleur du texte en la couleur sélectionnées */
}

a {	/* Tout les liens du site */
	text-decoration: none; 		/* Enlève le souligné des liens clicables */
}


th, tr, td {	/* Enlève les espacements des tableaux */
	border-collapse: collapse;	/* Bordures collées */
}

abbr { /* Les unicodes */
	text-decoration: none;	/* Pour enlever le soulignement */
}

/* ### Menu ### */
nav ul {
	text-align: center;						/* Centre le texte */
	background-color: var(--overlay-color);	/* Met en couleur de font la couleur secondaire */
	margin: auto 25% auto 25%;				/* Centre l'élément de 25% de chaque cotés */
	padding: 0; 							/* Enlève la marge interne par défaut du "ul" */
	border-radius: var(--border-radius-15);	/* Bordure arrondis de 15px */
}

nav li {
	display: inline-block; /* Affiche tout les éléments du menu en ligne */
	text-decoration: none; /* Enlève les puce de la liste */
	padding: 10px;
	margin: 5px;
	font-size: 1.1em;
	vertical-align: middle;
}

nav a {
	color: var(--text-color);
}

.active {	/* Page sélectionnée */
	color: var(--main-color);	/* Couleur sélectionnée */
}

/* ### Pied de page ### */
footer {
	margin-top: 50px;
	width: 100%;
	background-color: var(--overlay-color);
	bottom: 0;
}

footer > div {/* Les quatres catégories du pied de page */
	display: inline-block;
	vertical-align: center;
}

footer div > img {/* Les images du pied de page => Logo + Discord */
	margin: 20px;
}

footer > p {/* "tout droits réservés" */
	text-align: right;
}