/*
 * style.css
 * @author Vabre Lucas, Strub Lilian
 */

/* ### Style Général ### */

header {
	text-align: center;
}

header img {
	margin: 25px 0 25px 0;
}

body {
	font-family: Cabin, Arial, Consolas; /* Définis les polices d'écritures à utiliser dans le site */
	color: var(--text-color); /* Défini la couleur générale du texte */
	background-color: var(--background-color); /* Défini la couleur d'arrière plan du site */

	padding: 0;
	margin: 0;
	width: 100%; /* Fait prendre la taille du site, l'intégralité de l'écran */
}

a {
	text-decoration: none; /* Enlève le souligné des liens clicables */
	color: var(--text-color); /* Met en couleur le texte du menu */
}

/* ### Menu ### */
nav ul {
	text-align: center;
	background-color: var(--overlay-color);
	border-radius: 15px;
	margin: auto 25% auto 25%;
	padding: 0; 
}

nav li {
	display: inline-block; /* Affiche tout les éléments du menu en ligne */
	text-decoration: none; /* Enlève les puce de la liste */
	padding: 10px;
	margin: 5px;
	font-size: 1.1em;
	vertical-align: middle;
}

.active {	/* Page sélectionnée */
	color: var(--main-color);
}

#light-mode { /* Boutton jour-nuit */
	cursor: pointer; /* Au survol déchange le curseur pour montrer que c'est un boutton clicable */
}

.li-night-mode {
	padding: 0;
	margin: 0;
}

.li-night-mode img {
	width: 40px;
	height: 40px;
}

.li-maincolor img {
	width: 30px;
	height: 30px;
}

/* ### Contenu de la page ### */
.container {
	margin-left: 10%;
	margin-right:10%;
}

th, tr, td{
	border-collapse: collapse;
}

footer {
	margin-top: 50px;
	width: 100%;
	background-color: var(--overlay-color);
	bottom: 0;
}

footer > div {
	display: inline-block;
	vertical-align: center;
}

footer div > img {
	margin: 20px;
}

footer > p {
	text-align: right;
}

abbr {
	text-decoration: none;
}

#konamicode {
	color: var(--main-color);
}

#konamicode:hover {
	cursor: pointer;
	text-decoration: underline;
}

h3 a {
	color : var(--main-color);
}